p {
    color:rgb(16, 5, 12);
}
p {
    font-size: x-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: bold;
}
h1 {
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-color: rgba(247, 248, 245, 0.026);
}